<section>
  <a href="/#/{{id}}">
    <header>{{name}}</header>

    <div>
      <img src="/#/{{filename}}" alt="{{description}}">
      <p>{{description}}</p>
      <p> Had since: {{date_of_collection}}</p>
    </div>
  </a>
</section>