<section>
  <h1>{{collection.name}}</h1>
  <section>
    {{#each items as |item|}}
      <a href="/item/{{item.id}}"><h2>{{item.name}}</h2></a>
      {{!-- <img src="/#/{{item.filename}}" alt="{{item.description}}"> --}}
    {{/each}}
  </section>
  <button id="delete-collection">
    <i id="flex" class="fas fa-trash-alt"></i>
  </button>
</section>

<script src="/js/collection-details.js"></script>