    <h1>{{collection.name}}</h1>
    <p>{{collection.message}}</p>

    <section>
        {{#each collection.items as |item|}}
        <div>
            {{item.name}}
            <div>
                <img style="height: 100px;" src="{{item.filename}}"></img>
            </div>
        </div>
        {{/each}}
    </section>
<section>
    <h1>Add a new item to your collection</h1>

    <div>
        <label for="itemName">Item Name</label>
        <input type="text" id="itemName">
    </div>
    
    <div>
        <label for="itemDescription">Description</label>
        <input type="text" id="itemDescription">
    </div>
    
    <div>
        <label for="uploadfile">Select</label>
        <input type="file" id="uploadfile" />
    </div>

    <input type="hidden" id="collection_id" value="{{collection.id}}">
    
    <div>
        <button class="btn btn-secondary" onclick="uploadImage()">Save Item</button>
    </div>
    
 </section>
  <button id="delete-collection">
    <i id="flex" class="fas fa-trash-alt"></i>
  </button>

    <script type="text/javascript" src="https://unpkg.com/imagekit-javascript/dist/imagekit.min.js"></script>
    <script type="text/javascript" src="/js/createitem.js"></script>
    <script src="/js/collection-details.js"></script>


