<section>
    <header>{{name}}</header>

    <div>
      <img src="/#/{{filename}}" alt="{{description}}">
      <p>{{description}}</p>
      <p> Had since: {{date_of_collection}}</p>
    </div>
</section>